---
import LinkButton from '@/components/LinkButton.astro'
import ProjectsGrid from '@/components/ProjectsGrid'
import PCModel from '@/components/PCModel'
import { Github, Linkedin, SendHorizontal } from 'lucide-react'
import CopyToClipboard from '@/components/CopyButton'
import { getLangFromUrl, useTranslations } from '@/i18n/utils'
import { getI18N } from '@/i18n/index'

const { currentLocale } = Astro
const i18n = getI18N({ currentLocale })

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)

export const meta = {
    title: 'Fernando Haro',
    description:
        "Fernando Haro\'s personal website. Software engineering student. Full Stack Web Developer. Check out my projects and get in touch!",
    url: 'https://fernando.haroware.com',
    type: 'website',
    keywords:
        'fernando haro, fernando haro calvo, haro calvo fernando, harogato, software engineering, software, engineering, web development, web programming, programming, web developer, design, portfolio, developer, engineer, programmer, full stack, full stack web developer, full stack web development, full stack developer, full stack development, front end, back end, front end developer, back end developer, front end development, back end development, web design, web designer, web developer portfolio, web developer website, web developer personal website, web developer personal site, web developer personal page, web developer personal webpage',
}
---

<meta slot="tags" name="description" content={meta.description} />
<meta slot="tags" property="og:title" content={meta.title} />
<meta slot="tags" property="og:description" content={meta.description} />
<meta slot="tags" property="og:url" content={meta.url} />
<meta slot="tags" property="og:type" content={meta.type} />
<meta slot="tags" name="twitter:card" content="summary_large_image" />
<meta slot="tags" name="twitter:title" content={meta.title} />
<meta slot="tags" name="twitter:description" content={meta.description} />
<meta slot="tags" name="twitter:url" content={meta.url} />
<meta slot="tags" name="twitter:creator" content="@Scalaptia" />
<meta slot="tags" name="keywords" content={meta.keywords} />
<meta slot="tags" name="robots" content="index, follow" />
<meta slot="tags" name="author" content="Fernando Haro Calvo" />
<meta slot="tags" name="language" content="en" />

<main>
    <!-- Hero section -->
    <div
        slot="content"
        class="flex flex-col w-full lg:flex-row lg:flex-wrap lg:justify-between max-w-[600px] lg:max-w-[1200px] lg:gap-y-12 lg:items-center"
    >
        <!-- Developer -->
        <section class="w-full px-8 flex flex-col lg:max-w-[44ch]">
            <span class="text-primary font-ubuntu-mono text-2xl"
                >&lt;{i18n.TAG_DEVELOPER}&gt;</span
            >

            <h1
                class="pt-4 text-6xl font-black-han-sans text-text leading-[1.2em] text-center lg:text-left lg:max-w-[8ch]"
            >
                Fernando Haro
            </h1>

            <span
                class="text-primary font-ubuntu-mono text-2xl text-end lg:text-end lg:w-[26ch]"
                >&lt;/{i18n.TAG_DEVELOPER}&gt;</span
            >
        </section>

        <!-- Model -->
        <div class="flex justify-center h-[240px] lg:w-[200px] xl:w-[390px]">
            <PCModel client:only="react" />
        </div>

        <!-- About -->
        <section
            class="w-full mt-12 px-8 flex flex-col text-center items-center lg:max-w-[44ch] lg:my-0 order-2 lg:order-none"
        >
            <span
                class="text-primary text-start font-ubuntu-mono text-2xl self-start"
                >&lt;{i18n.TAG_ABOUT}&gt;</span
            >

            <div
                class="pt-4 pb-4 text-xl font-open-sans text-text leading-[1.2em]"
            >
                <span class="font-semibold">{i18n.TEXT_DESCRIPTION_1}</span>
                <span class="block">{i18n.TEXT_DESCRIPTION_2}</span>

                <span class="mt-4 block">
                    {i18n.TEXT_DESCRIPTION_3}
                    <span class="font-semibold">{i18n.TEXT_DESCRIPTION_4}</span
                    >,
                    <span class="font-semibold">{i18n.TEXT_DESCRIPTION_5}</span
                    >,
                    {i18n.TEXT_DESCRIPTION_6}
                    <span class="font-semibold">{i18n.TEXT_DESCRIPTION_7}</span
                    >.
                </span>
            </div>

            <span
                class="text-primary font-ubuntu-mono text-2xl text-end lg:text-end lg:w-[28ch] self-end"
                >&lt;/{i18n.TAG_ABOUT}&gt;</span
            >
        </section>

        <!-- Links -->
        <div
            class="flex w-full justify-center mt-4 lg:mt-2 sm:w-auto lg:w-full items-center order-1 lg:order-none"
        >
            <div
                class="grid grid-cols gap-5 px-6 max-w-[410px] w-full sm:w-auto"
            >
                <div class="grid grid-cols-2 w-full gap-2">
                    <LinkButton
                        link="https://www.github.com/Scalaptia"
                        text="GitHub"
                        icon={Github}
                    />
                    <LinkButton
                        link="https://www.linkedin.com/in/haro-fernando/"
                        text="LinkedIn"
                        icon={Linkedin}
                    />
                </div>

                <div
                    class="flex bg-white text-text px-5 py-2 gap-3 justify-between items-center border-2 border-text shadow-[2px_2px_0px_0px_rgba(65,44,71,1)]"
                >
                    <span class="font-open-sans font-semibold pt-[1px]"
                        >fernando.haro.c@gmail.com</span
                    >

                    <div class="flex gap-5">
                        <a
                            href="mailto:fernando.haro.c@gmail.com"
                            class="flex transition-opacity duration-150 hover:opacity-80"
                        >
                            <SendHorizontal className="w-5 h-5" />
                        </a>

                        <CopyToClipboard
                            client:visible
                            text="fernando.haro.c@gmail.com"
                            copiedText={i18n.TEXT_COPIED}
                        />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Projects -->
    <div
        slot="content"
        class="px-8 flex flex-col w-full items-center lg:flex-row lg:flex-wrap lg:justify-between max-w-[600px] lg:max-w-[1200px] lg:gap-y-4 my-12 lg:my-20"
    >
        <span
            class="text-primary text-start font-ubuntu-mono text-2xl self-start w-full mb-4"
            >&lt;{i18n.TAG_PROJECTS}&gt;</span
        >
        <ProjectsGrid projects={i18n.PROJECTS} client:visible />
        <span
            class="text-primary font-ubuntu-mono text-2xl text-end w-full lg:text-end self-end mt-4"
            >&lt;/{i18n.TAG_PROJECTS}&gt;</span
        >
    </div>
</main>
