---
import Layout from '../layouts/Layout.astro';
import LinkButton from '../components/LinkButton.astro';
import ProjectsGrid from '../components/ProjectsGrid';
import Footer from '../components/Footer.astro';
import PCModel from '../components/PCModel';
import { Github, Linkedin, SendHorizontal } from 'lucide-react';
import CopyToClipboard from '../components/CopyButton';

export const meta = {
    title: 'Fernando Haro',
    description: "Fernando Haro\'s personal website. Software engineering student. Full Stack Web Developer. Check out my projects and get in touch!",
    url: 'https://fernando.haroware.com',
    type: 'website',
    keywords: 'fernando haro, fernando haro calvo, haro calvo fernando, harogato, software engineering, software, engineering, web development, web programming, programming, web developer, design, portfolio, developer, engineer, programmer, full stack, full stack web developer, full stack web development, full stack developer, full stack development, front end, back end, front end developer, back end developer, front end development, back end development, web design, web designer, web developer portfolio, web developer website, web developer personal website, web developer personal site, web developer personal page, web developer personal webpage'
};

const projects: { projects: Project[] } = {
    projects: [
        {
            title: 'Estilist',
            description: 'Fashion discovery platform offering personalized style recommendations based on user preferences and colorimetry.',
            contributions: [
                'Led an agile team of 5 developers through the project lifecycle',
                'Implemented image recognition system for facial analysis and clothing classification'
            ],
            image: ['/images/estilist-1.webp', '/images/estilist-2.webp', '/images/estilist-3.webp', '/images/estilist-4.webp'],
            tags: ['React', 'Django REST', 'PostgreSQL', 'Azure'],
            repo: 'https://www.github.com/estilist/',
            live: 'https://blue-coast-0a7c0381e.5.azurestaticapps.net/'
        },
        {
            title: 'Espyntar', 
            description: 'Multiplayer drawing and guessing game supporting up to 8 concurrent players in real-time.',
            contributions: [
                'Implemented networking using TCP sockets with custom communication protocol',
                'Designed and developed core game logic using OOP principles',
            ],
            image: ['/images/espyntar-1.webp', '/images/espyntar-2.webp', '/images/espyntar-3.webp'],
            tags: ['C++', 'Raylib', 'Winsock'],
            repo: 'https://www.github.com/Scalaptia/espyntar'
        },
        {
            title: 'Battleship',
            description: 'Classic battleship game reimagined as a single-player web application with an isometric perspective.',
            contributions: [
                'Integrated Jest for unit testing and reached 100% coverage',
            ],
            image: ['/images/battleship-1.webp', '/images/battleship-2.webp'],
            tags: ['TypeScript', 'Jest'],
            repo: 'https://www.github.com/Scalaptia/battleship',
            live: 'https://scalaptia.github.io/battleship/'
        },
        {
            title: '16-BDH',
            description: 'Interactive educational RPG that explores the historical Battle of Puebla through 3 engaging chapters.',
            contributions: [
                'Developed a custom game engine using C and Raylib',
            ],
            image: ['/images/16bdh-1.webp', '/images/16bdh-2.webp', '/images/16bdh-3.webp', '/images/16bdh-4.webp'],
            tags: ['C', 'Raylib', 'Emscripten'],
            repo: 'https://github.com/Scalaptia/16-Bits-de-Historia',
            live: 'https://scalaptia.github.io/16-Bits-de-Historia/'
        }
    ]
};
---

<Layout title="home">
    <meta slot="tags" name="description" content={meta.description} />
    <meta slot="tags" property="og:title" content={meta.title} />
    <meta slot="tags" property="og:description" content={meta.description} />
    <meta slot="tags" property="og:url" content={meta.url} />
    <meta slot="tags" property="og:type" content={meta.type} />
    <meta slot="tags" name="twitter:card" content="summary_large_image" />
    <meta slot="tags" name="twitter:title" content={meta.title} />
    <meta slot="tags" name="twitter:description" content={meta.description} />
    <meta slot="tags" name="twitter:url" content={meta.url} />
    <meta slot="tags" name="twitter:creator" content="@Scalaptia" />
    <meta slot="tags" name="keywords" content={meta.keywords} />
    <meta slot="tags" name="robots" content="index, follow" />
    <meta slot="tags" name="author" content="Fernando Haro Calvo" />
    <meta slot="tags" name="language" content="en" />

    <!-- Hero section -->
    <div slot="content" class="flex flex-col w-full lg:flex-row lg:flex-wrap lg:justify-between max-w-[600px] lg:max-w-[1200px] lg:gap-y-12 lg:items-center">
        <!-- Developer -->
        <section class="w-full px-8 flex flex-col lg:max-w-[44ch]">
            <span class="text-primary font-ubuntu-mono text-2xl">&lt;developer&gt;</span>
    
            <h1 class="pt-4 text-6xl font-black-han-sans text-text leading-[1.2em] text-center lg:text-left lg:max-w-[8ch]">Fernando Haro</h1>
    
            <span class="text-primary font-ubuntu-mono text-2xl text-end lg:text-end lg:w-[26ch]">&lt;/developer&gt;</span>
        </section>
    
        <!-- Model -->
        <div class="flex justify-center h-[240px] lg:w-[200px] xl:w-[390px]">
            <PCModel client:only="react" />
        </div>

        <!-- About -->
        <section class="w-full mt-12 px-8 flex flex-col text-center items-center lg:max-w-[44ch] lg:my-0 order-2 lg:order-none">
            <span class="text-primary text-start font-ubuntu-mono text-2xl self-start">&lt;about&gt;</span>

            <div class="pt-4 text-xl font-open-sans text-text leading-[1.2em]">
                <span class="font-semibold">Full-stack web developer</span>
                <span class="block">and software engineering student.</span>
                
                <span class="mt-4 block">
                    I specialize in building web applications with modern technologies such as
                    <span class="font-semibold">React</span>,
                    <span class="font-semibold">Django</span>,
                    and
                    <span class="font-semibold">Node.js</span>.
                </span>
            </div>

            <span class="text-primary font-ubuntu-mono text-2xl text-end lg:text-end lg:w-[28ch] self-end">&lt;/about&gt;</span>
        </section>
    
        <!-- Links -->
        <div class="flex w-full justify-center mt-4 lg:mt-2 sm:w-auto lg:w-full items-center order-1 lg:order-none">
            <div class="grid grid-cols gap-5 px-6 max-w-[410px] w-full sm:w-auto">
                <div class="grid grid-cols-2 w-full gap-2">
                    <LinkButton link="https://www.github.com/Scalaptia" text="GitHub" icon={Github} />
                    <LinkButton link="https://www.linkedin.com/in/haro-fernando/" text="LinkedIn" icon={Linkedin} />
                </div>

                <div class="flex bg-white text-text px-5 py-2 gap-3 justify-between items-center border-2 border-text shadow-[2px_2px_0px_0px_rgba(65,44,71,1)]">
                    <span class="font-open-sans font-semibold pt-[1px]">fernando.haro.c@gmail.com</span>
        
                    <div class="flex gap-5">
                        <a href="mailto:fernando.haro.c@gmail.com" class="flex transition-opacity duration-150 hover:opacity-80">
                            <SendHorizontal className="w-5 h-5" />
                        </a>
        
                        <CopyToClipboard client:visible text="fernando.haro.c@gmail.com" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Projects -->
    <div slot="content" class="px-8 flex flex-col w-full items-center lg:flex-row lg:flex-wrap lg:justify-between max-w-[600px] lg:max-w-[1200px] lg:gap-y-4 my-12 lg:my-20">
        <span class="text-primary text-start font-ubuntu-mono text-2xl self-start w-full mb-4">&lt;projects&gt;</span>
        <ProjectsGrid {...projects} client:visible />
        <span class="text-primary font-ubuntu-mono text-2xl text-end w-full lg:text-end self-end mt-4">&lt;/projects&gt;</span>
    </div>

    <Footer slot="content"/>
</Layout>
