---
import Layout from '../layouts/Layout.astro';
import LinkButton from '../components/LinkButton.astro';
import CopyToClipboard from '../components/CopyToClipboard.tsx';
import { Projects, type ProjectsProps } from '../components/Projects.tsx';
import Footer from '../components/Footer.astro';

export const meta = {
    title: 'harogato',
    description: 'Fernando Haro\'s personal website.',
    url: 'https://fernando.haroware.com',
    type: 'website',
    keywords: 'fernando haro, harogato, software engineering, web development, programming, design, portfolio, developer, engineer, programmer',
};

const projects: ProjectsProps = {
    projects: [
        {
            title: 'Battleship',
            description: ['My own version of the popular board game Battleship made with TypeScript.', 'This game was made as part of The Odin Project’s curriculum, and its main goal was to learn about unit testing using Jest.'],
            image: '/images/battleship.png',
            tags: ['TypeScript', 'Jest', 'Vite'],
            repo: 'https://www.github.com/Scalaptia/battleship'
        },
        {
            title: '16-BDH',
            description: ['16-Bits de Historia is an educational RPG that teaches the story of “La Batalla de Puebla”.', 'This game was a final project for an introductory Strucured Programming class. It was developed in pure C using only a simple graphics library and was ported to the web using Emscripten.'],
            image: '/images/16-bdh.png',
            tags: ['C', 'Raylib', 'Emscripten'],
        }
    ]
};
---

<Layout title="harogato">
    <meta slot="tags" name="description" content={meta.description} />
    <meta slot="tags" property="og:title" content={meta.title} />
    <meta slot="tags" property="og:description" content={meta.description} />
    <meta slot="tags" property="og:url" content={meta.url} />
    <meta slot="tags" property="og:type" content={meta.type} />
    <meta slot="tags" name="twitter:card" content="summary_large_image" />
    <meta slot="tags" name="twitter:title" content={meta.title} />
    <meta slot="tags" name="twitter:description" content={meta.description} />
    <meta slot="tags" name="twitter:url" content={meta.url} />
    <meta slot="tags" name="twitter:creator" content="@Scalaptia" />
    <meta slot="tags" name="keywords" content={meta.keywords} />
    <meta slot="tags" name="robots" content="index, follow" />
    <meta slot="tags" name="author" content="Fernando Haro" />
    <meta slot="tags" name="language" content="en" />

    <!-- Developer -->
    <div slot="content" class="flex flex-col w-full lg:flex-row lg:flex-wrap lg:justify-between lg:max-w-[1200px] lg:gap-y-24 lg:pt-12 mb-16">
        <section class="w-full px-8 flex flex-col lg:max-w-[44ch] order-1">
            <span class="text-primary font-ubuntu-mono text-2xl">&lt;developer&gt;</span>
    
            <h1 class="pt-4 text-6xl font-black-han-sans font-extrabold text-text leading-[1.2em] max-w-[8ch]">Fernando Haro</h1>
    
            <span class="text-primary font-ubuntu-mono text-2xl translate-y-[210px] text-end lg:translate-y-0 lg:text-end lg:w-[26ch]">&lt;/developer&gt;</span>
        </section>
    
        <!-- Image -->
        <div class="flex justify-center h-[240px] order-2 lg:w-[400px] xl:w-[250px]">
            <img class="-z-10 w-[250px] absolute -translate-y-[4.3rem] lg:w-[410px] lg:top-52" src="/images/logo.png" alt="logo">
        </div>
    
        <!-- Links -->
        <div class="flex w-full order-3 justify-center mt-12 sm:w-auto xl:w-full items-center">
            <div class="grid grid-cols gap-5 px-6 max-w-[410px] w-full sm:w-auto">
                <div class="flex w-full justify-between gap-2">
                    <LinkButton link="https://www.github.com/Scalaptia" svg="/svg/github.svg" text="GitHub" />
                    <LinkButton link="https://www.linkedin.com/in/haro-fernando/" svg="/svg/linkedin.svg" text="LinkedIn" />
                </div>
                <div class="flex bg-white text-text rounded-full px-5 py-2 gap-3 justify-between">
                    <span class="font-open-sans font-semibold pt-[1px]">fernando.haro.c@gmail.com</span>
        
                    <div class="flex gap-5">
                        <a href="mailto:fernando.haro.c@gmail.com" class="flex transition-opacity duration-150 hover:opacity-80">
                            <img class="pointer-events-none" src="/svg/send.svg" alt="send" draggable="false">
                        </a>
        
                        <CopyToClipboard client:visible text="fernando.haro.c@gmail.com" />
                    </div>
                </div>
            </div>

        </div>
    
        <!-- About -->
        <section class="w-full my-10 px-8 flex flex-col text-center items-center lg:max-w-[44ch] order-4 lg:order-2 lg:my-0">
            <span class="text-primary text-start font-ubuntu-mono text-2xl self-start">&lt;about&gt;</span>
    
            <p class="pt-4 text-xl font-open-sans text-text leading-[1.2em] max-w-[30ch]"><span class="font-semibold text-[#57AAA7]">Software engineering student</span> that is passionate about programming and design. &NewLine;
            </p>
            <p class="pt-4 pb-3 text-xl font-open-sans text-text leading-[1.2em] max-w-[30ch]">
                My main focus is in <span class="font-semibold text-[#57AAA7]">Full Stack Web Development.</span>
            </p>
    
            <span class="text-primary font-ubuntu-mono text-2xl text-end lg:text-end lg:w-[28ch] self-end">&lt;/about&gt;</span>
        </section>
    </div>

    <div slot="content" class="px-8 flex flex-col w-full items-center lg:flex-row lg:flex-wrap lg:justify-between lg:max-w-[1200px] lg:gap-y-4 lg:pt-12 mb-16">
        <span class="text-primary text-start font-ubuntu-mono text-2xl self-start w-full">&lt;projects&gt;</span>
        <Projects {...projects} client:visible />
        <span class="text-primary font-ubuntu-mono text-2xl text-end w-full lg:text-end self-end">&lt;/projects&gt;</span>
    </div>

    <Footer slot="content"/>
</Layout>