---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

const { frontmatter } = Astro.props;
---

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/posts.css">

        <link rel="icon" href="/logo.ico" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
        
        <title>{frontmatter.title} | harogato</title>
    </head>

    <body class="min-h-screen flex flex-col items-center bg-background bg-noise bg-repeat">
		<Header title="blog" />

        <main class="grid gap-8 pb-12 px-4 pt-0 max-w-[80ch] text-text">
            <div class="justify-self-center max-w-[80ch] text-center font-open-sans">
                <h1 class="font-black-han-sans text-4xl pb-4 ">{frontmatter.title}</h1>
                <p class="font-ubuntu-mono text-xl">{frontmatter.author} - {(new Date(frontmatter.date)).toDateString().slice(4)}</p>
                <div class="flex justify-center mt-4 flex-wrap gap-4">
                    {frontmatter.tags.map((tag: string) => (
                        <span class="text-sm px-4 py-1 font-bold text-accent bg-secondary rounded-lg opacity-95">{tag}</span>
                    ))}
                </div>
            </div>
            <div class="justify-self-center max-w-[80ch] font-open-sans markdown-body">
                <slot />
            </div>
        </main>
        
        <Footer></Footer>
	</body>
</html>